*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    color: #333;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    width: 600px;
    height: 400px;
    background-color: #a1e7e4;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    color: #ff4646;
}